.search-movie {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

#nameMovie {
    font-size: 20px;
    background: #ccc;
    padding: 6px;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    
}

#nameMovie:focus {
    outline-color: black;
}

button {
    font-size: 18px;
    font-weight: bold;
    height: 40px;
    margin-left: 5px;
    padding: 5px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.5s;
    background: black;
    color: white;
    border: solid 1px;
}

button:hover {
    color: black;
    background: white;
}

article {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

article h2 {
    margin-bottom: 15px;
}

article img {
    width: 300px;
    height: 450px;
}

article p {
    margin: 10px;
    color: rgb(85, 83, 83);
}

#detail {
    color: white;
    background: black;
    width: 200px;
    margin-bottom: 10px;
    border-radius: 10px;
    transition: .5s;
}

#detail:hover {
    color: black;
    background: white;  
    border: 1px black solid
}